DB_ADMIN_USER=
DB_ADMIN_PASS=
DB_RESTRICTED_USER=
DB_RESTRICTED_PASS=
DB_NAME=isaasgn1localdb
DB_PORT=3306
DB_HOST=
BASE_PATH=/IsaAsgn1
COOKIE_SECRET=
CLIENT_URL=http://localhost:5173
MODEL_URL=http://model:4000